---
layout: base
category: [FYI]
---

<div class="intro-header"></div>

{% if page.background %}
<header class="hero overlay gray" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
  {% else %}
  <header class ="hero">
    {% endif %}
  <div class="containter">
    <div class="row">
        <div class="col-lg-10 col-md-10 mx-auto">
          <div class="page-heading">
            <span class="subheading">Hello!</span>
          </div>
        </div>   
    </div>
  </div>
</header>




  <!-- <div role="main" class="container">
    {{ content }}
  </div>
</header>   -->




<!-- {{ page.background | prepend: site.baseurl | replace: '//', '/' }}'')"> -->